<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mysoft.b2b.demo.mapper.CompanyMapper">

	<!-- 新增用户对象 -->
	<insert id="saveCompany" parameterType="Company" keyProperty="companyId">
		insert
		into B2B_DEMO_COMPANY
		(COMPANY_ID,COMPANY_NAME,ADDRESS) values
		(#{companyId},#{companyName},#{address})
	</insert>

</mapper>


